{{ define "main" }}
<main id="home">
  <div id="about" class="grape">
    <div class="container">
      {{ if eq $.Site.Params.podlove.subscribeButton.enabled true }}
      <div id="podlove_subscribe_button">
        {{- partial "podlove-subscribe-button.html" . }}
      </div>
      {{ end }}
      <div id="content">
        {{ .Content }}
      </div>
    </div>
  </div>

  {{ range first 1 (where .Site.RegularPages.ByPublishDate.Reverse "Section" "eq" "episode") }}
  {{ if and (eq $.Site.Params.podlove.webplayer.enabled true) (isset .Params "episode") }}
  <div id="podlove_web_player" class="sand">
    <div class="container">
      <h2>Die neueste Episode</h2>
      {{ partial "podlove-web-player.html" . }}
    </div>
  </div>
  {{ end }}
  {{ end }}

  <div id="recent-posts" class="sand">
    <div class="container">
      <h2>Neueste Episoden</h2>
      <ul>
        {{ range first 5 (where .Site.RegularPages.ByPublishDate.Reverse "Section" "eq" "episode") }}
        {{ if eq .Section "episode"}}
        <li>
          <span>{{ .Render "time-element" }}</span>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
        {{- end -}}
      </ul>
    </div>
  </div>
</main>
{{ end }}
